.button-parking {
	display:flex;
	flex-direction:column;
	text-align:center;
}

.title-parkings {
	color:red;
	text-decoration: underline;
	text-align:center;
}

.parking-list {
	min-height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content:center;
}

.list-item {
	display: flex;
	flex-direction:row;
	flex-basis: calc(42%);  
	margin: 0 1rem 1rem;
	padding: 0 1rem 1rem;
	background-color: white;
	border:solid;
	border-color:gray;
	border-radius: 20px;	
	justify-content:space-between;
	align-items:center;
	box-shadow:5px 5px 5px gray;
}

.list-item p {
	color:black;
}

.staff-list {
	list-style-type:none;
	list-style-position: inside;
	margin:0;
	padding:0;
	max-height: 500px;
	overflow-y: auto;
	scrollbar-width: thin;
}

.staff-list li {
	display: flex;
	flex-direction:column;
	flex: auto;
	border:solid;
	border-radius: 20px;
	margin: 0 1rem 1rem;
	padding: 0 1rem 1rem;
	box-shadow:10px 10px 10px gray;
	justify-content:space-between;	
	align-items:center;
	background-color: white;
}

.staff-list li:hover {
	background-color: #F0F8FF;
}

.user-list {
	list-style-type:none;
	list-style-position: inside;
	margin:0;
	padding:0;
	max-height: 500px;
	overflow-y: auto;
	scrollbar-width: thin;
}

.main-content {
	display: flex;
	flex-direction:row;
	flex: auto;
	border:solid;
	border-radius: 20px;
	margin: 0 1rem 1rem;
	padding: 0 1rem 1rem;
	box-shadow:10px 10px 10px gray;
	justify-content:space-between;	
	align-items:center;
	background-color: white;
}

.main-content:hover{
	background-color: #F0F8FF;
}

.searchs {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}

.StaffList, .UserList {
    display:flex;
    flex-direction:column;
	min-width:50%;
	margin-right: 30px;
}

.UserList {
	min-width:100%;
}

.divider {
    display:flex;
    align-items:center;
    margin:20px 0;
}

.divider::before, .divider::after {
    content:'';
    flex-grow:1;
    height:2px;
    background-color:#3f51b5;
}

.divider::before {
    margin-right:1rem;
}

.divider::after {
    margin-left:1rem;
}

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
	background-color: #3e8e41;
  }

