.div-info-user {
	display: flex;
	flex-direction:row;
	flex: auto;
	border:solid;
	border-radius: 20px;
	margin: 0 1rem 1rem;
	padding: 0 1rem 1rem;
	box-shadow:10px 10px 10px gray;
	justify-content:space-around;	
	align-items:center;
	background-color: white;
}

.div-info-place{
	display: flex;
	flex: auto;
	border:solid;
	border-radius: 20px;
	margin: 0 1rem 1rem;
	padding: 0 1rem 1rem;
	box-shadow:10px 10px 10px gray;
	justify-content:space-around;	
	align-items:center;
	background-color: white;
	flex-direction: column;
}

.div-edt-gardien{
	border:solid;
	border-radius: 20px;
	margin: 0 1rem 1rem;
	padding: 0 1rem 1rem;
	box-shadow:10px 10px 10px gray;
	background-color: white;
}

.div-edt-entretien{
	border:solid;
	border-radius: 20px;
	margin: 0 1rem 1rem;
	padding: 0 1rem 1rem;
	box-shadow:10px 10px 10px gray;
	background-color: white;
}

.div-info-place ul{
	list-style: none;
}

.aff-place {
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
}

.modif-infos-button{
    background-color: rgb(20,94,168);
}

.inputs_divs {
    display: flex;
    flex-direction: column;
}

.form>* {
    margin: 5%;
}

.inputs_divs>* {
    margin: 5%;
}
.msg-place-temp{
	color: red;
}

.div-button-place{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.div-place{
	display: flex;
	flex-direction: column;
}